<center><p><b> Scrape Email List</b></p></center>
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% emails.each do |email|%>
      <tr>
        <td><%= email%></td>
      </tr>
    <% end %>
  </tbody>
</table>
