<footer class="container-fluid text-center">
  <a href="https://www.w3schools.com/bootstrap/trybs_theme_company_full.htm#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Made By <a href="" title="immensesolusoft">Amit Bhanderi</a></p>
</footer>